.breadRoot {
    background-color: white;
    margin: 5px;
    padding: 3px;
}

#controlSider {
    background-color: transparent;
    border-color: transparent;
}

#controlSider .anticon svg {
    color: #5DADE2;
}

#seeRecord {
    float: right;
}