.ant-timeline {
  margin: 10px 0 10px 20px;
}
.ant-timeline-item-tail {
  border-left: 1px dashed #cecece;
}
.ant-timeline-item-content {
  text-align: left;
}
.ant-timeline-item-head {
  background-color: #59b4f4;
}
