.circlepositon {
  position: absolute;
  bottom: 100px;
  left: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(180deg, #7cc9ff 0%, #34abff 100%);
  box-shadow: 0px 1px 1px 1px #b7e1ff;
}
