.surgeryOvum {
  overflow-x: hidden;
  .divider {
    margin: 0 15px;
    .ant-divider-horizontal {
      border-width: 10px;
      margin: 10px 0;
    }
  }
  .flexItem {
    line-height: 36px;
    > div {
      margin-left: none !important;
    }
  }
  .paneldiv {
    margin-left: 15px;
    line-height: 36px;
  }
  .occupy {
    margin-left: 55px;
  }
  .flexgrow {
    flex-grow: 1;
    margin-right: 20px;
  }
  .medication {
    margin-left: 30px;
  }
  .dashbutton {
    height: 32px;
    line-height: 32px;
  }
  .icon_record {
    width: 2em;
    height: 2em;
    line-height: 2em;
    color: rgb(255, 162, 92);
  }
}
.divmargin {
  margin-bottom: 5px;
}
.circleOvum {
  float: right;
  margin-right: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ffa25c;
  border-radius: 50%;
  color: #ffa25c;
}
.colorTrigger {
  color: #ffa25c;
  margin-right: 30px;
}
